{{#partial "content"}}
    <div class="text-center" style="display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;">
        <ul style="list-style-type:none;">
            <li><h3>Choose type of animal</h3></li>
            <li>
                <div>
                    <a href="/add/endangered">
                        <button class="btn btn-danger float-left m-2">Endangered</button>
                    </a>
                    <a href="/add/nonendangered">
                        <button class="btn btn-danger float-right m-2">Non-Endangered</button>
                    </a>
                </div>
            </li>

        </ul>
    </div>
{{/partial}}
{{>layout.hbs}}