{{#partial "content"}}
    <div class="full">
        <ul style="list-style-type:none;">
            <li><h6>Choose type of animal</h6></li>
            <li>
                <div>
                    <a href="/add/endangered">
                        <button class="btn btn-danger float-left">Endangered</button>
                    </a>
                    <a href="/add/nonendangered">
                        <button class="btn btn-danger float-right">Non-Endangered</button>
                    </a>
                </div>
            </li>

        </ul>
    </div>
{{/partial}}
{{>layout.hbs}}