{{#partial "content"}}
    <div class="full">
        <div class="card mx-auto p-2" id="cardForm">
            <h2>ADD A NEW LOCATION</h2>
            <form action="/post/new/location" method="post">
                <div class="form-group">
                    <label for="name">Location Name</label>
                    <input type="text" class="form-control" name="location" id="location" required>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
{{/partial}}{{>layout.hbs}}